body {
    background-color: rgb(189, 88, 88);
}

h1 {
    color: whitesmoke;
    margin: 0 auto;
    width: 1400px;
    height: 37px;
    text-align: center;
    font-family: Arial;
    background-color: black;
}

#picker {
    text-align: center;
    font-size: larger;
    padding-left: 40vw;
    padding-right: 40vw;
}

#pickerScore {
    text-align: center;
    padding-left: 40vw;
    padding-right: 40vw;
}

#pickerPics {
    padding-left: 35vw;
    padding-right: 40vw;
}

#pickerButtons {
    padding-left: 40vw;
    padding-right: 40vw;
}

#pic1Label {
    width: 15vw;
    height: 15vw;
}

#pic2Label {
    width: 15vw;
    height: 15vw;
}

p {
    text-align: center;
}

button {
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.labels {
    display: flex;
    justify-content: space-between;
}
a {
    text-align: center;
    padding-left: 36vw;
    padding-right: 30vw;
}

