body {
    background-color: lightblue;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: whitesmoke;
    margin: 0 auto;
    width: 1400px;
    height: 37px;
    text-align: center;
    background-color: black;
}

#picker {
    text-align: center;
    font-size: larger;
    padding-left: 40vw;
    padding-right: 40vw;
}

#pickerScore {
    text-align: center;
    padding-left: 40vw;
    padding-right: 40vw;
}

#pickerPics {
    padding-left: 35vw;
    padding-right: 40vw;
}

#pickerButtons {
    padding-left: 40vw;
    padding-right: 40vw;
}

#pic1Label {
    width: 15vw;
    height: 15vw;
}

#pic2Label {
    width: 15vw;
    height: 15vw;
}

p {
    text-align: center;
}

button {
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.labels {
    display: flex;
    justify-content: space-between;
}
a {
    text-align: center;
    padding-left: 36vw;
    padding-right: 30vw;
}
.tab {
    overflow: hidden;
    border: 1px solid lightblue;
    background-color: lightblue;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: rgb(164, 213, 230);
  }
  
  .tab button.active {
    background-color:rgb(157, 209, 226);
  }
h2 {
    text-align: center;
    font-family: Arial;
    margin-top: -50px;
}
td {
    text-align: center;
}
.lb {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
}
