body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin: 0 auto;
    width: 700px;
    text-align: center;
    font-family: Arial;
}

table {
    width: 50%;
    display: block;
    margin-left: 40vw;
    margin-right: 40vw;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10vw;
    max-height: 10vw;
}

td button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}
